<!DOCTYPE html>
<html>
  <head>
    <title>Salon Management Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      @RenderBody()
      <br>
      <br>
      <a href="/stylists" class="btn btn-info">Go back to stylists page</a>
    </div>
  </body>
</html>
