<!DOCTYPE html>
<html>
  <head>
    <title>Delete Message</title>
  </head>
  <body>
    <h1>You have successfully deleted all stylists.</h1>
    <p><a href="/stylists">Go back to main stylists menu.</p>
  </body>
</html>
