<!DOCTYPE html>
<html>
  <head>
    <title>Stylists</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Hair Salon Management Portal</h1>
      <h1>Current stylists:</h1>
      <ul>
        @using HairSalon.Models;
        @if (Model.Count == 0){
          <p>You have no items in your to do list!</p>
        }
        else
        {
          @foreach (Stylist stylist in Model)
          {
            <li><strong>@stylist.GetFirstName() @stylist.GetLastName()</strong></li>
            <ul>
              <li>@stylist.GetPhoneNumber()</li>
              <li>@stylist.GetEmail()</li>
            </ul>
          }
        }
      </ul>
      <a href="/stylists/new" class="btn btn-info">Add a stylist</a>
    </div>
  </body>
</html>
