<!DOCTYPE html>
<html>
  <head>
    <title>Salon Management Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      @using HairSalon.Models;
      <h1>Hair Salon Management Portal</h1>
      <h1>Current stylists:</h1>
      <ul>
        @if (Model.Count == 0){
          <p>There are no stylists currently!</p>
        }
        else
        {
          @foreach (Stylist stylist in Model)
          {
            <li><strong><a href='/stylists/@stylist.GetID()'>@stylist.GetFirstName() @stylist.GetLastName()</a></strong></li>
          }
        }
      </ul>
      <a href="/stylists/new" class="btn btn-info">Add a stylist</a>
      <br>
      <br>
      <form action="/stylists/delete" method="post">
        <button type="submit" name="button" class="btn btn-danger">Clear All Stylists</button>
      </form>
      <br>
      <a href="/clients" class="btn btn-info">See all clients</a>
      <br>
      <br>
      <a href="/specialties" class="btn btn-success">See all specialties</a>
    </div>
  </body>
</html>
