@{
  Layout = "_Layout";
}

<h1>Stylist Details:</h1>

<li><strong>@Model.GetFirstName() @Model.GetLastName()</a></strong></li>
<ul>
  <li>@Model.GetPhoneNumber()</li>
  <li>@Model.GetEmail()</li>
</ul>

<p><a href='/stylists/new'>Add another stylist</a></p>
<p><a href='/stylists'>View all stylists</a></p>
