@{
  Layout = "_Layout";
}

<h1>Fill in the information for a specialty:</h1>
<form action="/specialties" method="post">
  <div class="form-group">
    <label for="description">Specialty Description:</label>
    <input id="description" name="description" type="text" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-success">Go!</button>
</form>
