<!DOCTYPE html>
<html>
  <head>
    <title>Stylists</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Hair Salon Management Portal!</h1>
      <a href="/stylists" class="btn btn-info">See all stylists</a>
    </div>
  </body>
</html>
