<!DOCTYPE html>
<html>
  <head>
    <title>Stylist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>@Model.GetFirstName()</h1>
      <h1>@Model.GetLastName()</h1>
      <h1>@Model.GetPhoneNumber()</h1>
      <h1>@Model.GetEmail()</h1>
    </div>
  </body>
</html>
